{% extends "base_noheader.html" %}
{% block content %}
<div class="centered-container">
  <h1>お話の足跡</h1>
  <form method="POST">
      {% csrf_token %}
      <div class="form-group">
          {{ login_form.email.label_tag }}
          {{ login_form.email }}
      </div>

      <div class="form-group">
          {{ login_form.password.label_tag }}
          {{ login_form.password }}
      </div>
      <input type="submit" value="ログイン">
  </form>

  <p>
      <a href="{% url 'accounts:request_password_reset' %}" style="color: #555555;">
          ※パスワードを忘れた方はこちら
      </a>
  </p>




  <h6>初めてご利用の方は</h6>
  <p>
      <a href="{% url 'accounts:regist' %}" style="color: #555555;">
        アカウント登録
      </a>
  </p>
</div>
{% endblock %}

