{% extends "base_noheader.html" %}
{% block content %}
<div class="container4">
    <h1>新規アカウント登録</h1>
    <form method="POST">
        {% csrf_token %}
        <!-- {{ user_form.as_p }}は全体を<p>タグで包んで自動生成するのでフィールドに個別の定義ができず改行コードが読み込めない
          →forで1つずつ読み込むようにする
        {{ user_form.as_p }} -->
        {% for field in user_form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% if field.errors %}
                <span style="color:red;">{{ field.errors }}</span><br>
            {% endif %}
            {% if field.help_text %}
                <div style="color: gray;">
                    {{ field.help_text|safe }}
                </div>
            {% endif %}
        </p>
        {% endfor %}
        <input type="submit" value="登録" style="margin-left: 80px; padding: 10px 20px;" class="btn-primary">
    </form>
</div>
{% endblock %}