{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>好きな絵本ランキング</h1>
    <form method="GET">
        <label for="child_id" class="child-label">子ども：</label>
            <select name="child_id" class="child-select">
                {% for child in children %}
                    <option value="{{ child.id }}" {% if selected_child_id == child.id %}selected{% endif %}>
                        {{ child.name }}
                    </option>
                {% endfor %}
            </select>
        <button type="submit">表示</button>
    </form>

    <div class="total-reads">合計： <span>{{ total_reads }}回</span></div>


<!-- ランキング表 -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">順位</th>
                <th scope="col">絵本の名前</th>
                <th scope="col">読んだ回数</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books_with_rank %}
                <tr>
                    <td>{{ book.rank }}</td>
                    <td>{{ book.book_title }}</td>
                    <td>{{ book.total_reads }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">記録が見つかりません</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    <!-- ページネーション -->
     <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page{{ page_obj.previous_page_number }}
                {% if selected_child_id %}&child_id={{ selected_child_id }}{% endif %}">前へ
            </a>
        {% endif %}

        Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page{{ page_obj.next_page_number }}
                {% if selected_child_id %}&child_id={{ selected_child_id }}{% endif %}">次へ
            </a>
        {% endif %}
     </div>
</div>
{% endblock %}